{% extends "CooperativeTrainingApp/base.html" %}

{% block title %} Cover Page {% endblock %}


{% block content %}
  <style>
    p {
      margin-top: 50px;
    }

  </style>
   
   <p>A cooperative training site is a site that targets university students who 
      are expected to graduate to search for companies or entities to complete the
       university requirements, which include field training, where the student undergoes 
       training as if he is in a real job and acquires experiences and applies what he learns, 
       so we offer options from companies in one place so that the student is allowed to search 
       for the company And submits an application to join the training in it easily.</p>
    
  

{% endblock %}