{% extends 'CooperativeTrainingApp/base.html' %}

{% block title %} My requests {% endblock %}




{% block content %}

  <style>

   h1 {
    margin-left: 100px;
    margin-bottom: 3%;
   }

   .box{ 
    width: 50%;
    margin-left: 20%;
    background-color: aliceblue;
   }
  

  </style>


 
  <h1>My requests: </h1> 
  <div class="box">
   
    {% for request in requests %}

    <ul>
      <li>{{ request.name }}</li>
      <li>{{ request.email }}</li>
      <li><a href="/media/media/file/CV_xpDBnWM.pdf">{{ request.file.url }}</a></li>
     
    </ul>

    {% endfor %}
  </div>




{% endblock %}