{% extends 'CooperativeTrainingApp/base.html' %}

{% block title %} profil {% endblock %}




{% block content %}
            <h6>information</h6>
         
            <ul>
                <li>{{ user.username }}</li>
                <li>{{ user.email }}</li>
                <li>{{ user.first_name }}</li>
                <li>{{ user.last_name }}</li>
                <li>{{ user.profile.gender }}</li>
                <li>{{ user.profile.department }}</li>
                <li>{{ user.profile.university_name }}</li>
                <li>{{ user.profile.level }}</li>
               
            </ul>
          
           
    
    
      

        



{% endblock %}