{% extends 'CooperativeTrainingApp/base.html' %}

{% block title %} profil {% endblock %}




{% block content %}

<h1>profile</h1>

<div class="container">
    
    
            
            <ul>
                <li scope="row">{{ New.user }}</li>
                <li>{{ New.gender }}</li>
                <li>{{ New.university_name }}</li>
                <li>{{ New.department }}</li>
                <li>{{ New.level_choices }}</li>
            </ul>
           

        
</div>


{% endblock %}