{% extends 'CooperativeTrainingApp/base.html' %}

{% block title %} Company {% endblock %}




{% block content %}

<h1>Company list </h1>

{% if "search"  in  request.GET %}
    <h2> Search results for "{{ request.GET.search }}": </h2>
{% endif %}



<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">information</th>
            <th scope="col">training</th>
            <th scope="col">training period</th>
            <th scope="col">city</th>
            
        </tr>
        </thead>
        <tbody>
            {% for p in New %}
            <tr>
                <td scope="row">{{ p.user.first_name }}</td>
                
                
                <td>{{ p.information }}</td>
                <td>{{ p.training }}</td>
                <td>{{ p.training_period }}</td>
                <td>{{ p.city }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}