{% extends 'CooperativeTrainingApp/base.html' %}

{% block title %} Company {% endblock %}




{% block content %}

  <style>
   .search {
    width: 50%;
    margin-left: 100px;
    margin-top: 50px;
   }
   h1 {
    margin-left: 100px;
   }

  </style>

  <form role="search" method="GET" action="{% url 'CooperativeTrainingApp:Company' %}">
    <input class="form-control search " type="search" placeholder="Search" name="search" aria-label="Search">
  </form>

<h1>Company list </h1>

{% if "search"  in  request.GET %}
    <h2> Search results for "{{ request.GET.search }}": </h2>
{% endif %}



<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">information</th>
            <th scope="col">training</th>
            <th scope="col">training period</th>
            <th scope="col">city</th>
            
        </tr>
        </thead>
        <tbody>
            {% for p in New %}
            <tr>
                <td scope="row">{{ p.user.first_name }}</td>
                
                
                <td>{{ p.information }}</td>
                <td>{{ p.training }}</td>
                <td>{{ p.training_period }}</td>
                <td>{{ p.city }}</td>
            </tr>
            {% endfor %}
          
        </tbody>
    </table>
   

</div>


{% endblock %}